# ========================
# Python
# ========================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*

# ========================
# SQLite / Database
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# Node / React
# ========================
node_modules/
dist/
build/
.vite/

# ========================
# Logs
# ========================
*.log

# ========================
# OS / Editor junk
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Docker
# ========================
*.tar
